:root {
  --background: #f0f2f5;
  --blue: #5429cc;
  --shape: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

.desafio {
  background-color: grey;
  font: 2.2rem 'Poppins', Arial, sans-serif;
  font size: 50px;
  text-align: center;
}


section {
  background-color: var(gray);
  padding: 40px;
  font: 1.2rem 'Poppins', Arial, sans-serif;
}

ul {
  list-style: none;
}

.container {
  max-width: 62.5rem;
  margin: 0 auto;
}

.header {
  background-color: var(--shape);
}

.header header {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.header header img {
  max-width: 15.90rem;
}

section.Lista {
  background: gray;
  border-radius: 1rem;
  padding: 1rem 28rem;
  max-height: 28rem;
  margin-bottom: 1rem;
}

button {
  background-color: white;
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: 1rem;
  font: 1rem 'Poppins', Arial, sans-serif;
  margin-top: 1.5rem;
}