div {
    width: 200px;
    height: 300px;
    display: inline-block;
    bottom: 0;
}

#container-a{
    background-color: hsl(31, 77%, 52%);
}

#container-b{
    background-color: hsl(184, 100%, 22%);
}

#container-c{
    background-color: hsl(179, 100%, 13%);
}

